p{
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
}
.search-box {
    display: block;
}
.content-Div {
    width: 300px;
    display: inline-block;
    vertical-align: top;
}
.thumbnail {
    width: 300px;
}
.title {
    font-size: 15px;
    font-weight: bold;
    width: 300px;
    line-height: 24px;
    margin-bottom: 5px;
}
.author {
    font-size: 14px;
    color: rgb(96, 96, 96); 
    /* margin-bottom: 20px; */
}
.details {
    font-size: 14px;
    color: rgb(96, 96, 96); 
    /* margin-bottom: 20px; */
}